.act-item{padding: 3%;background-color:#fff}
.item-title{width: 100%;height:2rem;line-height:2rem;margin: 0 auto;}
.item-img{width:100%;height:100%;margin: 0 auto;}
.item-img img{width: 100%;display:block;} 