.swiper-container,body{height:45rem}
.security-swiper{width:100%;height:45rem}
.swiper-slide{box-sizing:border-box;text-align:center;color:#000;background:url(../../image/safetyM-bg.jpg) center/100% 100% no-repeat}
.swiper-slide .title{font-weight:600}
.animateF{position:absolute;left:0;right:0;top:8%;margin:auto;width:20rem;height:20rem}
.little-icon{position:absolute;animation:myRotate1 20s linear infinite;-moz-animation:myRotate1 20s linear infinite;-webkit-animation:myRotate1 20 linear infinite;-o-animation:myRotate1 20s linear infinite}
.little-box{position:relative;width:100%;height:100%;animation:myRotate 20s linear infinite;-moz-animation:myRotate 20s linear infinite;-webkit-animation:myRotate 20s linear infinite;-o-animation:myRotate 20s linear infinite}
#swiper1 .animateF{background:url(../../image/safetyM-1.png) center/100% 100% no-repeat}
#swiper1 .little-icon-0{top:22%;left:2%;width:3rem;height:3rem;background:url(../../image/safetyM-1-0.png) center/100% 100% no-repeat}
#swiper1 .little-icon-1{top:21%;left:88%;width:2.2rem;height:2.2rem;background:url(../../image/safetyM-1-1.png) center/100% 100% no-repeat}
#swiper1 .little-icon-2{top:86%;left:14%;width:2rem;height:2rem;background:url(../../image/safetyM-1-2.png) center/100% 100% no-repeat}
#swiper2 .animateF{background:url(../../image/safetyM-2.png) center/100% 100% no-repeat}
#swiper2 .little-icon-0{top:22%;left:2%;width:3rem;height:3rem;background:url(../../image/safetyM-2-0.png) center/100% 100% no-repeat}
#swiper2 .little-icon-1{top:21%;left:88%;width:2.2rem;height:2.2rem;background:url(../../image/safetyM-2-1.png) center/100% 100% no-repeat}
#swiper2 .little-icon-2{top:86%;left:14%;width:2rem;height:2rem;background:url(../../image/safetyM-2-2.png) center/100% 100% no-repeat}
#swiper3 .animateF{background:url(../../image/safetyM-3.png) center/100% 100% no-repeat}
#swiper3 .little-icon-0{top:22%;left:2%;width:3rem;height:3rem;background:url(../../image/safetyM-3-0.png) center/100% 100% no-repeat}
#swiper3 .little-icon-1{top:21%;left:88%;width:2.2rem;height:2.2rem;background:url(../../image/safetyM-3-1.png) center/100% 100% no-repeat}
#swiper3 .little-icon-2{top:86%;left:14%;width:2rem;height:2rem;background:url(../../image/safetyM-3-2.png) center/100% 100% no-repeat}
#swiper3 .little-icon-3{top:69%;left:82%;width:2rem;height:2rem;background:url(../../image/safetyM-3-3.png) center/100% 100% no-repeat}
#swiper4 .animateF{background:url(../../image/safetyM-4.png) center/100% 100% no-repeat}
#swiper4 .little-icon-0{top:22%;left:2%;width:3rem;height:3rem;background:url(../../image/safetyM-4-0.png) center/100% 100% no-repeat}
#swiper4 .little-icon-1{top:21%;left:88%;width:2.2rem;height:2.2rem;background:url(../../image/safetyM-4-1.png) center/100% 100% no-repeat}
#swiper4 .little-icon-2{top:86%;left:14%;width:2rem;height:2rem;background:url(../../image/safetyM-4-2.png) center/100% 100% no-repeat}
#swiper4 .little-icon-3{top:69%;left:82%;width:2rem;height:2rem;background:url(../../image/safetyM-4-3.png) center/100% 100% no-repeat}
@keyframes myRotate{from{transform:rotate(0)}
to{transform:rotate(360deg)}
}
@keyframes myRotate1{from{transform:rotate(0)}
to{transform:rotate(-360deg)}
}