.input-box{background-color:#fff;border-bottom:1px solid #dfdfdf;height:44px;position:relative}
.input-box .label{width:65px;margin-left:12px;font-size:14px;height:44px;line-height:44px;position:absolute}
.input-box .input-num{margin-left:85px;width:220px;border:0;font-size:14px;height:43px;line-height:16px}