/* personal-container */
#isLogin{display: none;}

.per-portrait li,.per-bill li{position: relative;padding: 1rem 0.8rem;padding-right: 2rem;margin: 0 0.8rem;font-size: 1.2rem;border-bottom:1px solid #ededed;padding-top: 1.4rem;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.per-portrait .portrait-head{line-height: 3.2}
.per-portrait li .portrait{float: right;width: 3rem;height: 3rem;}
.per-portrait li .portrait img{width:100%;height:100%;object-fit:cover;border-radius:100%}
.per-portrait li span,.per-bill li span{float: right;font-size: 1rem}
.per-bill li span.safe{color:#999}
.per-portrait li b,.per-bill li b{position: absolute;top: 50%;right: 0.8rem;transform: translateY(-50%);font-size: 1.4rem;color: #a3a3a3}
.per-bill li i{color:red}
.per-bill li .open{color:#999}
.per-bill li .notOpen{color:red}
.personal-button{display: block;margin: 0 1.5rem;margin-top: 5rem;color: #fff;background: #338fff;border-radius: 3px;border-color: #338fff; box-sizing: border-box;font-size: 1.4rem;line-height: 3.4rem;text-align: center;}
