#m-header-nav h1{position: relative}
#m-header-nav h1> a{position: absolute;right: 20px;top: 50%;transform: translateY(-50%);color: #fff!important;font-size: 1rem}

.recommend{padding-bottom: 1rem}
.recommend .activity-text{position: relative;padding:1rem 4rem 3rem;font-size: 12px;line-height: 1.5}
.recommend .activity-text span{position: absolute;font-size: 1.5rem;color: #ccc}
.recommend .activity-text span.fa-quote-left{left: 1.5rem;top:2.8rem}
.recommend .activity-text span.fa-quote-right{right: 1.5rem;bottom: 4.2rem}
.recommend .activity-text .content{font-size: 1rem}
.recommend .title {text-align: center;margin: 0rem 2rem 2rem 2rem;overflow: hidden;color: #888}
.recommend .title span{position: relative;text-align: center;padding:0 2rem;line-height: 1.2}
.recommend .title span:before,.recommend .title span:after{content: '';position: absolute;width: 100%;height: 1px;background-color: #ccc; top: 50%;transform: translateY(-10%);}
.recommend .title span:before{right: 100%}
.recommend .title span:after{left: 100%}
.recommend .share-btn{text-align: center;padding: 0;margin-bottom: 2rem}
.recommend .share-btn a{display: inline-block;width: 11rem;padding: 1.2rem 1.1rem;border-radius: 3px;font-size: 1.3rem;background-color: #4DB4FF;color: #fff;letter-spacing: 2px}
.recommend .share-btn a:nth-child(1){margin-right: 0.5rem;}
/* 分享指引 */
.sh-friends {position: absolute;display: none; top:0; width: 100%;height: 100%;text-align: right; background-color: rgba(0,0,0,0.5);z-index: 4;} 
.sh-friends img{width: 4rem;margin: 0 3.4rem;margin-top: 5px;}
.sh-friends  p > b{display: inline-block;width:8rem; margin-right: 18%;line-height: 1.4; color: #fff;font-weight: normal;font-size: 1.6rem}
@media only screen and (max-width:320px) {
.recommend .share-btn a{display: inline-block;width: 11rem;padding: 1.2rem 1.1rem;border-radius: 3px;font-size: 1.3rem;background-color: #4DB4FF;color: #fff;letter-spacing: 2px}
.recommend .share-btn a:nth-child(1){margin: 0;margin-bottom: 2rem}
}