.change-loginpwd > div{ position: relative;width: 100%; overflow:hidden;}
.change-loginpwd > div::after{content: "";position: absolute;left: 0;bottom: 0;right: 0;line-height: 1.2;border-bottom: 1px solid #e6e6e6;transform: scaleY(.5);transform-origin: 0 100%;}

.change-loginpwd > div >span {font-size: 1.2rem;position: absolute;top: 50%;transform: translateY(-50%);}
.change-loginpwd > div >input{height: 45px;padding-left: 7rem;width: 100%;box-sizing: border-box;}
.change-loginpwd input::-webkit-input-placeholder { font-size: 1rem;}
.change-loginpwd input:-moz-placeholder { font-size: 1rem;}
.change-loginpwd input::-moz-placeholder{ font-size: 1rem;}
.change-loginpwd input:-ms-input-placeholder{ font-size: 1rem; }
.sure-btn{display: block;margin:0 20px;margin-top: 5rem;color: #fff;background: #338fff;border-radius: 3px;border-color: #338fff; box-sizing: border-box;font-size: 1.4rem;line-height: 3.4rem;text-align: center;}

.change-transact {padding: 0px 20px 0 20px;background-color: #fff}
.change-transact > div{ position: relative;width: 100%;}
.change-transact > div::after{content: "";position: absolute;left: 0;bottom: 0;right: 0;line-height: 1.2;border-bottom: 1px solid #e6e6e6;transform: scaleY(.5);transform-origin: 0 100%;}

.change-transact > div >span {font-size: 1.2rem;position: absolute;top: 50%;transform: translateY(-50%);}
.change-transact > div >input{height: 45px;padding-left: 7rem ;width: 100%;box-sizing: border-box;}
.change-transact input::-webkit-input-placeholder { font-size: 1.2rem;}
.change-transact input:-moz-placeholder { font-size: 1.2rem;}
.change-transact input::-moz-placeholder{ font-size: 1.2rem;}
.change-transact input:-ms-input-placeholder{ font-size: 1.2rem; }
.sure-btn{display: block;margin:0 20px;margin-top: 50px;color: #fff;background: #338fff;border-radius: 3px;border-color: #338fff; box-sizing: border-box;font-size: 1.4rem;line-height: 3.4rem;text-align: center;}
.forget{display: inline-block;margin-top: 1rem; color: #0e7fff; padding:0 20px;}
.errow{width: 100%;text-align: center;margin: 0;position: relative;}
.errow span{position: absolute; display: none;margin: 0;top:10px; padding: 6px 8px;text-align: center;    font-size: 12px;line-height: 22px;border-radius: 5px;background-color: rgba(0,0,0,.7);box-shadow: 0 0 8px rgba(0,0,0,.1);border-radius: 3px ;color:#fff; left: 50%;transform: translate(-50%);}
