<!-- https://static.100lending.com/terminal/mobile/disclosure/about/index.html?814 -->
<!doctype html>
<html lang="zh-CN">

<head>
    <title>房金网</title>
    <%= require('html-loader!../../layout/head.html')%>
</head>

<body class="bg-fff">
    <!-- header -->
    <header id="header">
        <div class="spacer"></div>
        <div id="m-header-nav" class="bg-fff c-000000 overflow-hide">
            <h1>大事记</h1>
        </div>
    </header>
    <!-- header end -->

    <div class="app-header app-main bg-fff f-cb">
        <div class="timeLine-box">
            <ul class="time-line">
                <li>
                    <strong>2017.06</strong>
                    <a href="">房金网与上海银行正式签订存管合作协议</a>
                </li>
                <li>
                    <strong>2017.05</strong>
                    <a href="">跨界·融合·创新 | 房金网斩获“品牌50强”、“金融业十大诚信企业”两大荣誉</a><br>
                </li>
                <li>
                    <strong>2017.05</strong>
                    <a href="">雁鸿翔员工爱心献血 接受《印象上海》栏目采访</a>
                </li>
                <li>
                    <strong>2017.01</strong>
                    <a href="">房金网再度携手东方航空，“互金+航空”模式再升级</a>
                </li>
                <li>
                    <strong>2017.01</strong>
                    <a href="">房金网受邀财经电视台和财经杂志专访</a>
                </li>
                <li>
                    <strong>2016.12</strong>
                    <a href="">房金网荣膺“2016年度中国金融科技最具竞争力企业奖”</a>
                </li>
                <li>
                    <strong>2016.08</strong>
                    <a href="">热烈庆祝房金网获得上海知名房地产企业提供本息兑付无限连带担保</a><br>
                </li>
                <li>
                    <strong>2016.08</strong>
                    <a href="">互联网金融3.0时代，房金网携海量福利隆重上线</a>
                </li>
                <li>
                    <strong>2016.08</strong>
                    <a href="">房金网与东方航空达成战略合作伙伴</a>
                </li>
            </ul>
        </div>
    </div>
    <%= require('html-loader!../../layout/footer.html')%>
</body>

</html>