<!-- https://static.100lending.com/terminal/mobile/disclosure/about/index.html?814 样式参考  -->


<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <title>房金网</title>
    <%= require('html-loader!../../layout/head.html')%>
</head>

<body>
    <!-- header -->
    <header id="header">
        <div class="spacer"></div>
        <div id="m-header-nav" class="bg-fff c-000000 overflow-hide">
            <h1>公司荣誉</h1>
        </div>
    </header>
    <!-- header end -->

    <div class="app-header app-main f-cb bg">
        <div class="honour">
            <ul class="honour-box">
                <!-- img1 -->
                <li>
                    <div class="honour-tem">
                    <div class="img-item">
                        <img  alt="" src=<%= require('../../image/fangjinwang50qiang5.jpg')%>>
                    </div>
                    <p>房金网获得“中国互联网金融品牌50强”荣誉</p>
                    </div>
                </li>
                <!-- img2 -->
                <li>
                    <div class="honour-tem">
                    <div class="img-item">
                        <img  alt="" src=<%= require('../../image/fangjinwang50qiang6.jpg')%>>
                    </div>
                    <p>雁鸿翔荣获“中国金融业十大诚信品牌企业”</p>
                    </div>
                </li>
                <!-- img3 -->
                <li>
                    <div class="honour-tem">
                    <div class="img-item">
                        <img  alt="" src=<%= require('../../image/honour_10.jpg')%>>
                    </div>
                    <p>房金网获得"2016年度中国金融科技最具竞争力企业"奖项</p>
                    </div>
                </li>
                <!-- img4 -->
                <li>
                    <div class="honour-tem">
                    <div class="img-item">
                            <img  alt="" src=<%= require('../../image/honour_01.jpg')%>>
                    </div>
                    <p>房金网机构信用代码证</p>
                    </div>
                </li>
                <!-- img5 -->
                <li>
                    <div class="honour-tem">
                    <div class="img-item">
                        <img  alt="" src=<%= require('../../image/honour_02.png')%>>
                    </div>
                    <p>雁鸿翔荣获"金鼎奖"2015中国金融行业诚信最具示...</p>
                    </div>
                </li>
                <!-- img5 -->
                <li>
                    <div class="honour-tem">
                    <div class="img-item">
                        <img  alt="" src=<%= require('../../image/honour_03.png')%>>
                    </div>
                    <p>雁鸿翔喜获2015-2016年度中国金融管理协会理事单位</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <%= require('html-loader!../../layout/footer.html')%>
</body>

</html>