<!--https://weixin.100lending.com/#/cms/security 样式参考  -->
<!-- https://static.100lending.com/terminal/mobile/disclosure/about/index.html?814 -->

<!doctype html>
<html lang="zh-CN">

<head>
    <title>房金网</title>
    <%= require('html-loader!../../layout/head.html')%>
</head>

<body>
    <!-- header -->
    <header id="header">
        <div class="spacer"></div>
        <div id="m-header-nav" class="bg-338fff c-ffffff overflow-hide">
            <a id="F_back" class="goback arrow-left " href="javascript:;" data-href="his"></a>
            <h1>安全保障</h1>
        </div>
    </header>
    <!-- header end -->

    <div class="app-header app-main f-cb bg">
        <div class="security-swiper">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide" id="swiper1">
                        <div class="animateF">
                            <div class="little-box">
                                <div class="little-icon little-icon-0"></div>
                                <div class="little-icon little-icon-1"></div>
                                <div class="little-icon little-icon-2"></div>
                            </div>
                        </div>
                        <div class="title f24px mb15">
                            产品模式
                        </div>
                        <div class="f20px mb15">
                            风险保障&nbsp;跟踪管理
                        </div>
                        <div class="f16px mb15">
                            上海银行资金存管&nbsp;设立风险保证金
                        </div>
                        <div class="f16px">
                            定期跟踪监督
                        </div>
                    </div>
                    <div class="swiper-slide" id="swiper2">
                        <div class="animateF">
                            <div class="little-box">
                                <div class="little-icon little-icon-0"></div>
                                <div class="little-icon little-icon-1"></div>
                                <div class="little-icon little-icon-2"></div>
                            </div>
                        </div>
                        <div class="title f24px mb15">
                            项目筛选
                        </div>
                        <div class="f20px mb15">
                            重重把关
                        </div>
                        <div class="f16px mb15">
                            定期考察&nbsp;&nbsp;&nbsp;专业分析&nbsp;&nbsp;&nbsp;苛刻审核
                        </div>
                    </div>
                    <div class="swiper-slide" id="swiper3">
                        <div class="animateF">
                            <div class="little-box">
                                <div class="little-icon little-icon-0"></div>
                                <div class="little-icon little-icon-1"></div>
                                <div class="little-icon little-icon-2"></div>
                                <div class="little-icon little-icon-3"></div>
                            </div>
                        </div>
                        <div class="title f24px mb15">
                            风险控制
                        </div>
                        <div class="f20px mb15">
                            多重风控审核
                        </div>
                        <div class="f14px mb15 line-h18">
                            拒绝非法集资、自融、资金池
                            <br>
                            携手上海银行资金存管
                            <br>
                            风险前置，专业风控多次审核
                            <br>
                            推动债权项目公示
                            <br>
                            定期对外披露重要运营数据
                        </div>
                    </div>
                    <div class="swiper-slide" id="swiper4">
                        <div class="animateF">
                            <div class="little-box">
                                <div class="little-icon little-icon-0"></div>
                                <div class="little-icon little-icon-1"></div>
                                <div class="little-icon little-icon-2"></div>
                                <div class="little-icon little-icon-3"></div>
                            </div>
                        </div>
                        <div class="title f24px mb15">
                            风险储备制度
                        </div>
                        <div class="f20px mb15">
                            全方位保障您的权益
                        </div>
                        <div class="f16px mb15">
                            数据安全&nbsp;&nbsp;&nbsp;资金安全&nbsp;&nbsp;&nbsp;隐私安全
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%= require('html-loader!../../layout/footer.html')%>
</body>

</html>