/* home-banner */
.home-banner{height:0;padding-bottom:33%}
.home-banner .swiper-wrapper .swiper-slide{width: 100%;height: 100%;}
.swiper-pagination-bullet{width:1rem;height:4px;border-radius:0}
.home-banner .swiper-container .swiper-pagination{bottom: 1px;}
.swiper-pagination-bullet-active{background:#FFF;}

/* home-nav */
.entrance-panel {
    box-sizing: border-box;
    min-height: 80px;
    background-color: #fff;
    padding: 0 10px 0;
    font-size: 0;
    word-spacing: -1px
}

.entrance-panel .item {
    display: inline-block;
    width: 25%;
    text-align: center;
    position: relative;
    font-size: 12px;
    color: #555;
}

.entrance-panel .tag-new {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 50%;
    margin-left: 2px
}
.entrance-panel .e-icon {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    margin: 0 auto
}

@media screen and (min-width:240px) {
    .entrance-panel .e-icon{width: 30px;height: 30px;}
}

@media screen and (min-width:320px) {
    .entrance-panel .e-icon{width: 35px;height: 35px;}
}

@media screen and (min-width:380px) {
    .entrance-panel .e-icon{width: 45px;height: 45px;}
}

@media screen and (min-width:420px) {
    .entrance-panel .e-icon{width: 50px;height: 50px;}
}
.entrance-panel .e-icon img {
    display: block;
    margin: 0 auto;
    width: 100%
}

.entrance-panel strong {
    display: block;
    padding-top: 8px;
    line-height: 1;
    font-size: 13px;
    color: #555;
    font-weight: bold
}

@media (max-width: 360px) {
    .entrance-panel strong {
        font-size:12px
    }
}


.cards-container{width:100%;overflow:hidden}
.swiper-cards{box-sizing:border-box;width:100%;font-size:0;white-space:nowrap}
.swiper-cards .card-item{vertical-align:top;-webkit-flex-shrink:0;flex-shrink:0}
.swiper-cards .card-item .inner{position:relative;margin:10px 5px;width:280px;height:165px;background-color:#fff;border-radius:10px;text-align:center;box-shadow:0 2px 6px 0 rgba(0,0,0,0.08)}
.swiper-cards .card-item .value{color:#ef8127;padding-top:21px}
.swiper-cards .card-item .value em{display:inline-block;line-height:1;font-size:44px}
.swiper-cards .card-item .value span{font-size:20px}
.swiper-cards .card-item .info{margin-top:2px;color:#555;line-height:30px;height:30px}
.swiper-cards .card-item .info strong{display:inline-block;font-size:20px}
.swiper-cards .card-item .info span{font-size:14px}
.swiper-cards .card-item .info-item{position:relative;display:inline-block;padding:0 30px;vertical-align:top;height:30px}
.swiper-cards .card-item .info-item+.info-item:before{content:'';width:1px;height:15px;background-color:#ededed;position:absolute;left:0;top:50%;-moz-transform:translate(0, -50%) scale(0.5, 1);-ms-transform:translate(0, -50%) scale(0.5, 1);-webkit-transform:translate(0, -50%) scale(0.5, 1);transform:translate(0, -50%) scale(0.5, 1)}
.swiper-cards .card-item .btn-box{padding-top:13px;margin-left:50px;margin-right:50px}
.swiper-cards .card-item .btn-box .btn{height:35px;line-height:35px;font-size:14px;font-weight:normal}
.swiper-cards .card-gold .value{color:#ffa41e}
.swiper-cards .card-gold .btn{background-color:#ffa41e}
.swiper-cards .card-gold .tag-corner:before{border-top-color:#ffa41e;border-right-color:#ffa41e}
.swiper-cards .tag-corner{position:absolute;top:0;right:0;border-radius:0 10px 0 0;overflow:hidden}
.swiper-cards .tag-corner:before{content:'';width:0;height:0;border:25px solid #ef8127;border-bottom-color:transparent;border-left-color:transparent;display:inline-block}
.swiper-cards .tag-corner span{line-height:1;font-size:11px;font-weight:bold;display:block;text-align:center;transform:rotate(-315deg) translate(-50%, -120%);transform-origin:left top;color:#fff;position:absolute;top:50%;left:50%}

.pro-box{display:inline-block;width:100%;border-top:solid 1px #fafafa;overflow:hidden}
.idx-pro-con{position:relative;height:200px;padding:10px;background-repeat:no-repeat;background-size:100% auto;background-position:center;background-image:url(../image/index_pro_bg.png);}
.idx-pro-con canvas{position:absolute;top:8px;left:60px;z-index:1}
.pro-con-item{position:relative;text-align:center;top:25%;z-index:2}
.pro-con-item .pro-text{font-size:14px;height:25px;line-height:25px;}
.pro-con-item .pro-rate{padding:0 100px;height:40px;line-height:40px;}
.pro-con-item .pro-rate:after{content:"";position:absolute;bottom:30%;left:35%;width:30%;border-bottom: solid 1px #fff;}
.pro-con-item .pro-rate span{font-size:12px;height:30px;line-height:30px;}
.pro-con-item .pro-rate span em{font-size:24px;}
.pro-con-item .pro-name{font-size:16px;height:35px;line-height:50px;}
.idx-pro-desc {
    line-height: 30px;
    height: 30px;
    width:100%;
}
.desc-info{    
    padding:0 10px
}
@media screen and (min-width:370px) {
    .desc-info{    
        padding:0 30px
    }
    .idx-pro-con canvas{
        top: -10%;
        left: 19%;
    }
}
@media screen and (min-width:410px) {
    .desc-info{    
        padding:0 50px
    }
    .idx-pro-con canvas{
        top: -7%;
        left: 20%;
    }
}
.info-item {
    position: relative;
    display: inline-block;
    height: 30px;
    width:45%;
}
.info-item span em{
    font-size: 16px;
    color:red;
}
.btn-box {
    margin: 20px 20px;
}
.btn-box .btn {
    height: 50px;
    line-height: 50px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 3px
}