/* wallet-top */
.wallet-top{width: 100%;height: 12rem;background-color: #318eff;color: #cceaff;font-size: 1rem;}
.wallet-top span{color: #ffffff;font-size: 2rem;display: block;}
.wallet-top .wallet-total{width: 40%;height:50%;float: left;}
.wallet-top .wallet-vote{width: 35%;height: 50%;float: left;}
.wallet-top .wallet-normal span{color: #cceaff;font-size: 1.4rem;}
/* wallet-container */
.wallet-container{width: 100%;height: 4rem;background-color: #FFF;line-height: 4rem;color: #666666;font-size: 1.2rem;}
.wallet-container .wallet_bill{background: url("../image/wallet_bill.png") left 15px no-repeat;background-size:20%;text-indent: 25px;}
.wallet-container .wallet_invest{background: url("../image/wallet_invest.png") left 17px no-repeat;background-size:22%;text-indent: 25px;}
.wallet-container .wallet_stock{background: url("../image/wallet_stock.png") left 14px no-repeat;background-size:22%;text-indent: 25px;}
.wallet-container span,.wallet-container a {color:#ff884c;}
/* wallet-container2 */
.wallet-container2{width: 100%;height: 4rem;line-height: 4rem;color: #ababab;font-size: 1rem;}