.sub-list {}
.sub-list ul {position:relative;padding:0 5.33%;z-index:10;list-style:none;margin:0 auto;text-align:left}
.sub-list ul li{height:90px;background-color:#fff;}
.sub-list ul li div:first-child{width:65%;}

.sub_way{position:relative;top:-2px;font-size:11px;color:#fff;padding:2px 5px;background:#338fff;border-radius:2px;}
.ico-inline{display: inline-block;}
.ico-clock{width: 11px;height: 11px;background: url(../image/ico-clock.png) no-repeat;background-size: 11px 11px;margin-right: 4px;vertical-align: -1px;}
.ico-android{width: 13px;height: 15px;background: url(../image/ico-android.png) no-repeat;background-size: 13px 15px;margin-left: 10px;vertical-align: -3px;}
.ico-weixin{width: 16px;height: 13px;background: url(../image/ico-weixin.png) no-repeat;background-size: 16px 13px;margin-left: 10px;vertical-align: -2px;}
.ico-apple{width: 13px;height: 15px;background: url(../image/ico-apple.png) no-repeat;background-size: 13px 15px;margin-left: 10px;vertical-align: -2px;}
.ico-pc{width: 14px;height: 12px;background: url(../image/ico-pc.png) no-repeat;background-size: 14px 12px;margin-left: 10px;vertical-align: -2px;}
.ico-mobile{width: 11px;height: 14px;background: url(../image/ico-mobile.png) no-repeat;background-size: 11px 14px;margin-left: 10px;vertical-align: -2px;}