<style>
    .customerservice {
        background: #fff;
        height: 110px;
        margin-top: 10px;
        margin-bottom: 100px;
    }
    .service-title{
        padding-top: 10px;
        font-size: 14px;
        color:#338fff;
        text-align:center;
    }
    .customerservice .service-box {
        text-align: center
    }

    .customerservice .service-left {
        border-radius: 3px;
        float: left;
        height: 60px;
        margin-left: .8rem;
        width: 45%
    }

    .customerservice .service-right {
        border-radius: 3px;
        float: right;
        height: 60px;
        margin-right: .8rem;
        width: 45%
    }
    .customer-service-tel {
        display: none
    }
    .customerservice .service-box .up {
        color: #333;
        font-size: 14px;
        margin-top: 12px
    }

    .customerservice .service-box .down {
        color: #999;
        font-size: 13px
    }

    .customerservice .service-left .up {
        -webkit-box-align: center;
        box-align: center;
        -webkit-box-pack: center;
        box-pack: center;
        display: box;
        display: -webkit-box
    }

    .customerservice .service-right .up {
        -webkit-box-align: center;
        box-align: center;
        -webkit-box-pack: center;
        box-pack: center;
        display: box;
        display: -webkit-box
    }
    .customerservice .service-left .up .left {
        background-image: url(https://p4.nicaifu.com/cms/201708/eb1da334eb4a89bbbb72b9fbcab52b91.jpg);
        background-size: 16px 16px;
        height: 16px;
        width: 16px
    }

    .customerservice .service-left .up .right {
        margin-left: 8px
    }

    .customerservice .service-right .up .left {
        background-image: url(https://p4.nicaifu.com/cms/201708/e4d8d078a6f790ac5e836cd1ab94ba83.jpg);
        background-size: 16px 16px;
        height: 16px;
        width: 16px
    }

    .customerservice .service-right .up .right {
        margin-left: 8px
    }
    .block-shadow {
        -webkit-box-shadow: 1px 1px 10px rgba(0,0,0,.1);
        -moz-box-shadow: 1px 1px 10px rgba(0,0,0,.1);
        box-shadow: 1px 1px 10px rgba(0,0,0,.1)
    }
</style>

<!--返回页顶 S-->
<a class="bktop-btn" id="F_bkTop">
    <i class="arr-top"></i>
</a>
<!--返回页顶 E-->
<script>
    var fjw = fjw || {};
    fjw.webapp = fjw.webapp || {};
    fjw.webapp.page = fjw.webapp.page || {};
</script>
<script type="text/javascript" src="http://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
<script src="//res.wx.qq.com/open/js/jweixin-1.1.0.js"></script>