<div class="bottomMenu f-cb">
    <div class="home_m">
        <a href="javascript:;" data-href="/index.html"><div class="icon"></div><span>首页</span></a>
    </div>
    <div class="products_m">
        <a href="javascript:;" data-href="/product/index.html"><div class="icon"></div><span>理财</span></a>
    </div>
    <div class="wallet_m">
        <a href="javascript:;" data-href="/wallet/index.html"><div class="icon"></div><span>钱包</span> </a>  
    </div>
    <div class="user_m">
        <a href="javascript:;" data-href="/my/index.html"><div class="icon"></div><span>我的</span></a>
    </div>
</div>
<!-- 底部操作栏 S -->
<!-- <div class="primary-nav">
    <div class="primary-nav_inner">
        <nav id="primary_nav_links">
            <a href="javascript:;" data-href="/index.html" class="-home">
                <i class="fa fa-home fa-fw"></i>
                <span>首页</span>
            </a>
            <a href="javascript:;" data-href="/product/index.html" class="-invest">
                <i class="fa fa-line-chart fa-fw"></i>
                <span>理财</span>
            </a>
            <a href="javascript:;" data-href="/wallet/index.html" data-needlogin="true" class="-wallet">
                <span style="position:relative;">
                    <i class="fa fa-credit-card fa-fw"></i>
                    <span class="weui-badge weui-badge_dot f-hide" style="position:absolute;top:-25px;right:-30px;"></span>
                </span>
                <span>钱包</span>
            </a>
            <a href="javascript:;" data-href="/my/index.html" class="-my">
                <span style="position:relative;">
                    <i class="fa fa-user-o fa-fw"></i>
                    <span class="weui-badge weui-badge_dot" style="position:absolute;top:-25px;right:-30px;"></span>
                </span>
                <span>我的</span>
            </a>
        </nav>
    </div>
</div> -->
<!-- 底部操作栏 E -->
