<div class="bottomMenu f-cb">
    <div class="home_m">
        <a href="javascript:;" data-href="/index.html"><div class="icon"></div><span>首页</span></a>
    </div>
    <div class="products_m">
        <a href="javascript:;" data-href="/product/index.html"><div class="icon"></div><span>理财</span></a>
    </div>
    <div class="wallet_m">
        <a href="javascript:;" data-href="/wallet/index.html" data-needlogin="true"><div class="icon"></div><span>钱包</span> </a>  
    </div>
    <div class="user_m">
        <a href="javascript:;" data-href="/my/index.html" data-needlogin="true"><div class="icon"></div><span>我的</span></a>
    </div>
</div>