<!-- 底部操作栏 S -->
<div class="primary-nav">
    <div class="primary-nav_inner">
        <nav id="primary_nav_links">
            <a href="javascript:;" data-href="http://192.168.1.53:3002/dist/view/index.html" class="-home">
                <i class="fa fa-home fa-fw"></i>
                <span>首页</span>
            </a>
            <a href="javascript:;" data-href="http://192.168.1.53:3002/dist/view/product/index.html" class="-invest">
                <i class="fa fa-line-chart fa-fw"></i>
                <span>理财</span>
            </a>
            <a href="javascript:;" data-href="http://192.168.1.53:3002/dist/view/my/wallet.html" data-needlogin="true" class="-wallet">
                <span style="position:relative;">
                    <i class="fa fa-credit-card fa-fw"></i>
                    <span class="weui-badge weui-badge_dot f-hide" style="position:absolute;top:-25px;right:-30px;"></span>
                </span>
                <span>钱包</span>
            </a>
            <a href="javascript:;" data-href="http://192.168.1.53:3002/dist/view/my/index.html" class="-my">
                <span style="position:relative;">
                    <i class="fa fa-user-o fa-fw"></i>
                    <span class="weui-badge weui-badge_dot" style="position:absolute;top:-25px;right:-30px;"></span>
                </span>
                <span>我的</span>
            </a>
        </nav>
    </div>
</div>
<!-- 底部操作栏 E -->