<div id="download_banner" class="download-pannel">
    <div class="download-close">
        <img id="download_openweb" src="../image/icon-close-banner.png" class="J_ping close">
    </div>
    <div class="pannel-bg"></div>
    <div class="download-logo">
        <img src="../image/download-1-logo.png">
    </div>
    <div class="download-txt">
        <span class="download-content">
            <em class="content-up" style="font-size:13px;color:#ffffff;">打开房金网APP</em>
            <em class="content-down" style="font-size:13px;color:#999999;">新人领168元红包</em>
        </span>
    </div>
    <div class="download-action">
        <a id="download_openapp" href="javascript:;" class="J_ping"><span class="font-large" style="color:#fff;">立即打开</span></a>
    </div>
</div>