<div class="customerservice">
    <p class="service-title">往期理财均100%本息全额兑付</p>
    <div class="service-box">
        <div class="service-left block-shadow">
            <div class="up">
                <div class="left"></div>
                <div class="right">在线客服</div>
            </div>
            <div class="down">24小时自助</div>
        </div>
        <div class="service-right block-shadow">
            <div class="up">
                <div class="left"></div>
                <div class="right">客服电话</div>
            </div>
            <div class="down">8:00-21:00</div>
        </div>
    </div>
    <a href="tel:4000-360-000" class="customer-service-tel" style="display: none;">400-360-000</a>
</div>