<!doctype html>
<html lang="zh-CN">

<head>
    <title>房金网</title>
    <%= require('html-loader!../layout/head.html')%>
</head>

<body>
    <!-- header -->
    <header id="header">
        <div id="m-header-nav" class="bg-fff bg-338fff c-ffffff">
            <a id="F_back" class="goback arrow-left" href="javascript:;" data-href="his"></a>
            <h1>热门活动</h1>
        </div>
    </header>
    <!-- header end -->

    <div class="app-header app-main bg-fafafa">
        <div class="act-list">
            <div class="mb15 act-item">
                <a href="">
                    <div class="item-title pb10">
                        <div class="f-fl c-333333">一带一路活动</div>
                        <div class="f-fr c-999999">结束时间:2017-07-20</div>
                    </div>
                    <div class="item-img">
                        <img src=<%=require( "../image/product_list_img.jpg")%>>
                    </div>
                </a>
            </div>
            <div class="mb15 act-item">
                <a href="">
                    <div class="item-title pb10">
                        <div class="f-fl c-333333">一带一路活动</div>
                        <div class="f-fr c-999999">结束时间:2017-07-20</div>
                    </div>
                    <div class="item-img">
                        <img src=<%=require( "../image/product_list_img.jpg")%>>
                    </div>
                </a>
            </div>
            <div class="mb15 act-item">
                <a href="">
                    <div class="item-title pb10">
                        <div class="f-fl c-333333">一带一路活动</div>
                        <div class="f-fr c-999999">结束时间:2017-07-20</div>
                    </div>
                    <div class="item-img">
                        <img src=<%=require( "../image/product_list_img.jpg")%>>
                    </div>
                </a>
            </div>
            <div class="mb15 act-item">
                <a href="">
                    <div class="item-title pb10">
                        <div class="f-fl c-333333">一带一路活动</div>
                        <div class="f-fr c-999999">结束时间:2017-07-20</div>
                    </div>
                    <div class="item-img">
                        <img src=<%=require( "../image/product_list_img.jpg")%>>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <%= require('html-loader!../layout/footer.html')%>
</body>

</html>