<!doctype html>
<html lang="zh-CN">

<head>
    <title>
        房金网
    </title>
    <%= require('html-loader!../layout/head.html')%>
</head>

<body>
    <%= require('html-loader!../layout/nav.html')%>
    <div class="app-main bg-fff">
        <div class="home-banner">
            <div class="swiper-container banner-swiper">
                <div class="swiper-wrapper"></div>
                <div class="swiper-pagination"></div>
            </div>
        </div>

        <!--快捷入口 S-->
        <!--说明：图标2x: 120 x 80 px-->
        <div class="entrance-panel mt10 bb-ededed f-cb">
            <a class="item" href="javascript:void(0);" data-href="">
                <span class="e-icon">
                    <img src=<%=require("../image/home_nav_icon1.png")%> alt="新手专享">
                </span>
                <strong>新手专享</strong>
            </a>
            <a class="item" href="javascript:void(0);" data-href="./page/activity.html">
                <span class="e-icon">
                    <img src=<%=require("../image/home_nav_icon2.png")%> alt="推荐有礼">
                </span>
                <strong>推荐有礼</strong>
            </a>
            <a class="item" href="javascript:void(0);" data-href="./activity.html">
                <span class="e-icon" href="javascript:void(0);">
                    <img src=<%=require("../image/home_nav_icon3.png")%> alt="热门活动">
                </span>
                <strong>热门活动</strong>
            </a>
            <a class="item" href="javascript:void(0);" data-href="./about/security.html">
                <span class="e-icon">
                    <img src=<%=require("../image/home_nav_icon4.png")%> alt="安全保障">
                </span>
                <strong>安全保障</strong>
            </a>
        </div>
        <!--快捷入口 E-->

        <div class="pro-box bg-fff">
            <div class="idx-pro-con">
                <div class="pro-con-item c-ffffff">
                    <div class="pro-text">
                        <span>预期年化收益率</span>
                    </div>
                    <div class="pro-rate mt10">
                        <span><em>0.00</em>%</span>
                    </div>
                    <div class="pro-name">
                        <span>--</span>
                    </div>
                </div>
                <canvas id="pro">当前浏览器不支持canvas请升级！</canvas>
            </div>
            <div class="idx-pro-desc">
                <div class="desc-info">
                    <div class="info-item text-left">
                        <span class="expires">
                        产品期限 :
                        <em>--</em>
                    </span>
                    </div>
                    <div class="info-item f-fr text-right">
                        <span class="share_text">
                        可够份额 :
                        <em>--</em>元
                    </span>
                    </div>
                </div>
            </div>
            <div class="btn-box">
                <a class="btn btn-normal" href="javascript:;">立即抢购</a>
            </div>
        </div>
        <%= require('html-loader!../layout/footer.html')%>
        <%= require('html-loader!../layout/menu.html')%>
    </div>
</body>

</html>
