<!DOCTYPE html>
<html lang="en">
<head>
    <title>房金网</title>
    <%= require('html-loader!../../layout/head.html')%>
</head>
<body>
    <div class="app-main bg-fff">
      <div class="recommend">
            <header class="banner">
                 <img src=<%=require( "../../image/bg_tuijianyouli.jpg")%> alt="推荐有礼">
            </header>
            <section class="activity-text">
              <span class="fa fa-quote-left"></span>
                <p>1、活动期间，每邀请一位好友 首次单笔投资任意产品1000元及以上，邀请人可获得88元红包；</p>
                <p>2、被邀请好友非首次投资，每单笔投满2000元任意产品，邀请人可获得8元红包，以此类推，上不封顶；</p>
                <p>3、多邀多得，奖励无上限！</br>
                  举个例子：A成功邀请了B，B首次单笔投资1000元房金月宝，A可得88元红包，B又投资了2000元房金季宝，A再得8元红包；</p>
                <span class="fa fa-quote-right"></span>
            </section>
            <p class="title">
              <span>
                分享给好友
              </span>
            </p>

            <section class="share-btn">
                <a href="#">分享给微信好友</a>
                <a href="#">复制邀请链接</a>
            </section>
      </div>
    </div>
  <%= require('html-loader!../../layout/footer.html')%>
</body>
</html>
