<!--

https://m.16pu.com/tlist
产品进度
https://m.jinlianchu.cn/index/project/project_list.html

https://weixin.100lending.com/#/product/productList 头部切换样式

  -->
<!doctype html>
<html lang="zh-CN">
<head>
    <title>房金网</title>
    <%= require('html-loader!../../layout/head.html')%>
</head>
<body>
    <%= require('html-loader!../../layout/loading.html')%>
    <div class="app-main bg-999999">
        <div class="m-product-menu bg-fff f-cb">
            <div class="m-menu-item" data-target="current">
                <div class="f-fr current active">
                    <a href="javascript:;">活期理财</a>
                </div>
            </div>
            <div class="m-menu-item" data-target="invest">
                <div class="invest">
                    <a href="javascript:;">定期理财</a>
                </div>
            </div>
        </div>
        <!-- 项目列表 S -->
        <div class="prolist-box tab-tabs">
            <div class="m-prolist current">
                <ul class="prolist mt15"></ul>
            </div>
            <div class="m-prolist invest f-hide">
                <ul class="prolist mt15"></ul>
            </div>
        </div>
        <div class="block-simple-tip">理财非存款，投资需谨慎</div>
        <%= require('html-loader!../../layout/menu.html')%>
        <%= require('html-loader!../../layout/footer.html')%>
    </div>
</body>

</html>