<!doctype html>
<html lang="zh-CN">

<head>
    <title>房金网</title>
    <%= require('html-loader!../../layout/head.html')%>
</head>

<body>
    <%= require('html-loader!../../layout/loading.html')%>
        <!-- header -->
        <header id="header">
            <div class="spacer"></div>
            <div id="m-header-nav" class="overflow-hide bg-338fff c-ffffff">
                <a id="F_back" class="goback arrow-left" href="javascript:;" data-href="his"></a>
                <h1>投资记录</h1>
            </div>
        </header>
        <!-- header end -->

        <div class="app-header app-main pb60 f-cb">
            <div class="sub-list">
                <ul class="bg-fff lists bb-e6e6e6">
                </ul>
            </div>
        </div>
        <%= require('html-loader!../../layout/footer.html')%>
</body>

</html>