<!doctype html>
<html lang="zh-CN">

<head>
    <title>房金网</title>
    <%= require('html-loader!../../layout/head.html')%>
</head>

<body>
    <!-- header -->
    <header id="header">
        <div id="m-header-nav" class="bg-fff bg-338fff c-ffffff">
            <a id="F_back" class="goback arrow-left" href="javascript:;" data-href="./index.html"></a>
            <h1>热门活动</h1>
        </div>
    </header>
    <!-- header end -->

    <div class="app-header app-main bg-fafafa">
        <div class="act-list"></div>
    </div>
    <%= require('html-loader!../../layout/footer.html')%>
</body>

</html>