<!doctype html>
<html lang="zh-CN">

<head>
    <title>房金网</title>
    <%= require('html-loader!../../layout/head.html')%>
</head>

<body>
    <div class="swiper-container download-swiper">
        <div class="swiper-wrapper">
            <section class="swiper-slide  download-item d-item-1">
                <div class="d-logo resize ani" swiper-animate-effect="zoomIn" swiper-animate-duration="1s" swiper-animate-delay="0.5s">
                    <img src=<%=require("../../image/download-1-logo.png")%>  alt="" >
                </div>
                <strong class="s-str-1 resize ani" swiper-animate-effect="lightSpeedIn" swiper-animate-duration="1.5s" swiper-animate-delay="0.8s"  >金融行业靠谱的房地产平台</strong>
                <strong class="s-str-2 resize ani" swiper-animate-effect="lightSpeedIn" swiper-animate-duration="1.5s" swiper-animate-delay="1.1s"  >房地产行业靠谱的金融平台</strong>
                <div class="d-house resize ani" swiper-animate-effect="zoomIn" swiper-animate-duration="1.5s" swiper-animate-delay="1.4s">
                    <img src=<%=require("../../image/download-1-house.png")%>  alt="">
                </div>
                <div class="d-btn resize ani" swiper-animate-effect="fadeInLeft" swiper-animate-duration="1s" swiper-animate-delay="2s">
                    <a href="javascript:void(0)">下载房金网APP</a>
                </div>
            </section>
            <section class="swiper-slide download-item d-item-2">
                <div class="d-stars ani resize"  swiper-animate-effect="zoomIn" swiper-animate-duration="0.5s" swiper-animate-delay="0.5s">
                    <img src=<%=require("../../image/download-2-stars.png")%> alt="">
                </div>
                <div class="d-phone ani resize" swiper-animate-effect="fadeInLeft" swiper-animate-duration="0.5s" swiper-animate-delay="0.8s">
                    <img src=<%=require("../../image/download-2-phone.png")%> alt="">
                </div>
                <div class="d-content ani resize "  swiper-animate-effect="fadeInRight" swiper-animate-delay="0.5s" swiper-animate-delay="1.1s">
                    <img src=<%=require("../../image/download-2-content.png")%> alt="">
                </div>
                <div class="d-banner ani resize " swiper-animate-effect="rotateInDownLeft" swiper-animate-duration="0.5s" swiper-animate-delay="1.4s">
                    <img src=<%=require("../../image/download-2-banner.png")%> alt="">
                </div>
                <div class="d-text ani resize" swiper-animate-effect="fadeInUp" swiper-animate-duration="0.5s" swiper-animate-delay="1.7s">
                    <span class="text-s-1">资金存管</span>
                    <span>房金网与上海银行签订资金存管协议</span>
                    <span>账户资金更安全</span>
                </div>
                <div class="d-btn resize ani" swiper-animate-effect="zoomIn" swiper-animate-duration="0.5s" swiper-animate-delay="2s">
                    <a href="javascript:void(0)">下载房金网APP</a>
                </div>
            </section>
        
            <section class="swiper-slide download-item d-item-3">
                <div class="d-alert ani resize" swiper-animate-effect="fadeInUp" swiper-animate-duration="0.5s" swiper-animate-delay="0.5s">
                    <img src=<%=require("../../image/download-3-alert.png")%> alt="">
                </div>
                <div class="d-icon ani resize" swiper-animate-effect="rotateInDownLeft" swiper-animate-duration="0.5s" swiper-animate-delay="1.1s">
                    <img src=<%=require("../../image/download-3-icon.png")%> alt="">
                </div>
                <div class="d-phone-2 ani resize" swiper-animate-effect="rotateInDownLeft" swiper-animate-duration="0.5s" swiper-animate-delay="1.4s">
                    <img src=<%=require("../../image/download-3-phone.png")%> alt="">
                </div>
                <div class="d-content-3  ani resize" swiper-animate-effect="rotateInDownLeft" swiper-animate-duration="0.5s" swiper-animate-delay="1.8s">
                    <img src=<%=require("../../image/download-3-content.png")%> alt="">
                </div>
                <div class="d-shadow ani resize" swiper-animate-effect="rotateInDownLeft" swiper-animate-duration="0.5s" swiper-animate-delay="2s">
                    <img src=<%=require("../../image/download-3-shadow.png")%> alt="">
                </div>
                <div  class="d-light ani resize" swiper-animate-effect="zoomInUp" swiper-animate-duration="0.5s" swiper-animate-delay="2s">
                    <img src=<%=require("../../image/download-3-light.png")%> alt="">
                </div>
                <div class="d-text-2 ani resize" swiper-animate-effect="fadeInUp" swiper-animate-duration="0.5s" swiper-animate-delay="1.7s">
                    <span class="text-s-1">项目筛选</span>
                    <span>专业运营团队考察一线城市黄金地段</span>
                    <span>专业分析团队考察一线资产债权项目</span>
                </div>
                <div class="d-btn resize ani" swiper-animate-effect="zoomIn" swiper-animate-duration="0.5s" swiper-animate-delay="2.3s">
                    <a href="javascript:void(0)">下载房金网APP</a>
                </div>
            </section>

            <section class="swiper-slide download-item d-item-4">
                <div class="d-stars-2 ani resize" swiper-animate-effect="zoomIn" swiper-animate-duration="0.5s" swiper-animate-delay="1.1s">
                    <img src=<%=require("../../image/download-4-star.png")%> alt="">
                </div>
                <div class="d-screen ani resize" swiper-animate-effect="rotateInDownLeft" swiper-animate-duration="0.5s" swiper-animate-delay="1.4s">
                    <img src=<%=require("../../image/download-4-screen.png")%> alt="">
                </div>
                <div class="d-text-3 ani resize" swiper-animate-effect="fadeInRight" swiper-animate-duration="0.5s" swiper-animate-delay="1.7s">
                    <span class="text-s-1">项目筛选</span>
                    <span>专业运营团队考察一线城市黄金地段</span>
                    <span>专业分析团队考察一线资产债权项目</span>
                </div>
                <div class="d-btn resize ani" swiper-animate-effect="zoomIn" swiper-animate-duration="0.5s" swiper-animate-delay="2.1s">
                    <a href="javascript:void(0)">下载房金网APP</a>
                </div>
            </section>
        </div>
        <div class="swiper-pagination"></div>
    </div>
    <%= require('html-loader!../../layout/footer.html')%>
</body>
</html>
