.search-access{display:block;height:0;position:relative;padding-bottom:28%;overflow:hidden}
.search-access img{display:block;position:absolute;width:100%;height:auto;left:0;top:0}
.m-search{position:relative;overflow: hidden}
.m-search input{height:50px;line-height:50px;width:100%;margin:0 auto;padding:0 15px;font-size:14px;font-family:'Microsoft YaHei';}

.type-box{height:19rem}
.title{position:relative;text-align:center;width:70%;margin-left:15%}
.title:before{position:absolute;top:18px;z-index:0;width:100%;height:1px;background-color:#d0e5f5;content:' ';display:block;overflow:hidden}
.title h2{position:relative;z-index:1;font-size:21px;line-height:1.8;background-color:#fff;padding:0 10px;text-align:center;display:inline-block;color:#45444a}
.type-content{width:100%;margin:0 auto}
.type-ul li{float:left;width:33.33%;display:inline-block}
.li-inner{width:65%;margin:0 auto;text-align:center}
.li-inner a{color:#666;font-size:14px}
.li-inner img{width:3rem;height:3rem;margin:16px}
@media screen and (min-width:380px) {
    .li-inner img{width:4rem;height:4rem}
}

.hot-cells-hd{line-height:36px;padding:0 15px;font-size:12px;color:#999;position:relative}
.hot-cells-hd:after{content:' ';display:block;border-bottom:1px solid #ededed;position:absolute;bottom:0;left:0;right:0;z-index:2}
.hot-cells{background-color:#fff;line-height:1.25;overflow:hidden;position:relative}
.hot-cell{box-sizing:border-box;min-height:50px;padding:15px 15px;position:relative;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-align:center;-webkit-align-items:center;align-items:center;position:relative}
.hot-cell i{color:#999}
.hot-cell:before{content:' ';display:block;border-top:1px solid #ededed;color:#ededed;position:absolute;top:0;left:0;right:0;z-index:9}
@media only screen and (-webkit-min-device-pixel-ratio:1.5){
    .hot-cell:before{-webkit-transform:scaleY(.7);transform:scaleY(.7);-webkit-transform-origin:left top}
}
@media only screen and (-webkit-min-device-pixel-ratio:2){
    .hot-cell:before{-webkit-transform:scaleY(.5);transform:scaleY(.5)}
}
.hot-cell:before{left:15px}
.hot-cell:first-child:before{display:none}
.hot-cell-hd{font-size:16px}
.hot-cell-bd{font-size:14px;color:#666;overflow:hidden;white-space:nowrap;text-overflow:ellipsis}
.hot-cell-ft{font-size:14px}
.hot-cell-primary{display:block;-webkit-box-flex:1;-webkit-flex:1;-ms-flex:1;flex:1}

/* detail */
.qa-box{background-color:#fff;font-size:15px}
.qa-box .hd{padding:6px 15px;padding-top:8px;color:#000;font-weight:700;line-height:1.8;position:relative}
.qa-box .hd p{margin: 0}
.qa-box .hd:after{content:' ';display:block;border-bottom:1px solid #ededed;position:absolute;bottom:0;left:0;right:0;z-index:2}
.qa-box .bd{padding:10px;border-bottom:solid 1px #ededed;overflow:hidden;font-size:14px;line-height:1.85;color:#999}
.qa-box .bd *{white-space:normal!important}
.qa-box .bd img{max-width:100%}
.qa-box .m-reply{width:100%;height:40px;line-height:40px}
.qa-box .m-reply .fa{margin-right: 5px;}
.qa-box .m-reply .reply-item{float:left;width:49%;text-align:center}
.qa-box .m-reply .reply-item:first-child{border-right:solid 1px #ededed}
.qa-box .m-reply .reply-item a{color:#333}
.question-item {background-color: #FFF;}
.question-item a{color:#333;font-size:14px}
.type-item li,.question-item li{position: relative;padding: 1rem 15px;padding-right: 2rem;margin: 0 auto;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.type-item li a,.question-item li a{color:#333}
.type-item li span,.question-item li span{position: absolute;top: 50%;right: 0.8rem;transform: translateY(-50%);font-size: 14px;color: #a3a3a3}

/* seach */
.search{padding: 1.4rem 1.6rem;background-color: #f1f1f1;}
.search-content{ position: relative; line-height: 1rem;  border-radius: 1.28rem;box-sizing: border-box;color: #aaa;background-color: #fff;}
.search-content li{display: inline-block;width: 100%;padding: 0.7rem 0;}
.search-content .city{display: inline-block;width: 3.5rem;margin-top: 0.2rem;margin-left: 1rem;font-size: 1.2rem;color: #00BE88;}
.search-content .icon-search{position: absolute;width: 1em;height: 1.16rem;left: 1.5rem;top: 50%;transform: translateY(-50%);display: inline-block;background-image: url(../../image/search.png);background-repeat: no-repeat;background-size: 100% 100%;}
.search-content .icon-empty{position: absolute;right: 1.5rem;top: 50%;transform: translateY(-50%);font-size: 1.2rem}
.search-content input{width: 95%;font-size: 1.1rem;padding: 0 4rem;box-sizing: border-box;}
.search-message{ padding: 1.4rem 1.6rem;}
.search-message p{color: #999;}
.search-message a{display: inline-block;line-height: 1.2rem;padding: 0.5rem 1rem;font-size: 1.1rem;margin: 0 0.4rem 0.9rem 0;background-color: #f4f6f8;border-radius: 0.2rem;color: #666;}
.s-information p a{display: block;}
.s-list a{color:#333}
.s-list i{color: #38f}
.s-list span{color: #38f}
.s-information p{margin: 0;padding:5px 0;padding-right: 12px; white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.s-information  ul li{position: relative;padding: 1rem 0.8rem;margin: 0 0.8rem;}
.s-information  ul li span{position: absolute;top: 50%;right: 0.8rem;transform: translateY(-50%);font-size: 1.4rem;color: #a3a3a3}

footer img{height:auto;width:100%}
.footer{position: absolute;bottom: 0; }