<!DOCTYPE html>
<html lang="en">
<head>
    <title>房金网</title>
    <%= require('html-loader!../../layout/head.html')%>
</head>
<body>
    <header>
        <div class="fiex-box" id="header">
            <div class="bills-b" data-href="his"><i class="fa fa-angle-left"></i></div>
            <div class="text-center bills-container bills-bm">账单</div>
            <div class="bills-r">筛选</div>
        </div>
        <div class="bills-box-top pl15">本月累计收益<span class="f-fr mr40">130.51</span></div>
        <div class="bills-mask"></div>
        <div class="bills-screening">
            <ul>
                <li class="bills-screening-active">全部</li>
                <li>充值提现</li>
                <li>收益明细</li>
                <li>活期产品</li>
                <li>定期产品</li>
                <li>活动奖励</li>
            </ul>
        </div>
    </header>
    <div class="app-header app-main bg-f7f7f7" style="overflow: hidden;padding-top: 100px;">
        <div class="bills-box">
            <div class="bills-list mb10">
                <ul>
                    
                </ul>
            </div>
        </div>
    </div>
    <%= require('html-loader!../../layout/footer.html')%>
</body>
</html>