<!DOCTYPE html>
<html lang="en">
<head>
    <title>房金网</title>
    <%= require('html-loader!../../layout/head.html')%>
</head>
<body>
    <div class="app-main bg-f7f7f7">
        <div class="billsmood-b"></div>
        <div class="text-center billsmood-container">交易详情</div>

        <div class="billsmood-center mt50">
            <div class="billsmood-title">房金年宝12期<span><img width="100%" height="100%" src=<%= require("../../image/juan-iocn.png")%>></span></div>
            <div class="billsood-number">
                <div class="number-t1 mt30">180000元</div>
                <div class="number-t2 pt10 c-999999"><span><i class="fa fa-window-close"></i></span>认购失败</div>
            </div>
            <div class="billsmood-str">
                <div class="billsmood-str-item">到期复投：<span><i>复投加息2.00%</i></span></div>
                <div class="billsmood-str-item">使用卡券：<span>现金券<i>40元</i>、加息券<i>3.8%</i></span></div>
                <div class="billsmood-str-item">交易单号：<span>T1004807820150318133641</span></div>
                <div class="billsmood-str-item">提交时间：<span>2017-04-11   16:39:57</span></div>
                <div class="billsmood-str-item">购买协议：<span><a>点击查看</a></span></div>
                <div class="billsmood-str-item mb15">收益情况：
                    <span><i>2017-04-11</i>开始计算收益</span>
                    <span class="billsmood-str-ml73"><i>2018-04-11</i>收益到帐</span></div>
            </div>
        </div>
    </div>
    <%= require('html-loader!../../layout/footer.html')%>
</body>
</html>