<!-- https://m.nicaifu.com/ -->
<!DOCTYPE html>
<html lang="en">
<head>
    <title>房金网</title>
    <%= require('html-loader!../../layout/head.html')%>
</head>
<body>
    <%= require('html-loader!../../layout/loading.html')%>
    <header id="header" class="show-hd">
        <div class="m-product-menu bg-fff f-cb">
            <div id="m-header-nav">
                <div class="cardstock-b" data-href="his"><a class="arrow-left"></a></div>
            </div>
            <div class="m-menu-item" data-target="current">
                <div class="f-fr current active">
                    <a href="javascript:;">现金劵</a>
                </div>
            </div>
            <div class="m-menu-item" data-target="invest">
                <div class="invest">
                    <a href="javascript:;">加息劵</a>
                </div>
            </div>
        </div>
    </header>

    <div class="app-main bg-f2f2f2">
        <div class="cardstock-list f-cb">
            <ul id="cardList">

            </ul>
        </div>
        <div class="cardstock-btn pb30">查看历史加息劵</div>
    </div>
    <%= require('html-loader!../../layout/footer.html')%>
</body>
</html>