<!DOCTYPE html>
<html lang="en">
<head>
    <title>房金网</title>
    <%= require('html-loader!../../layout/head.html')%>
</head>
<body>
    <div class="app-main bg-f2f2f2">
        <div class="m-product-menu bg-fff f-cb">
            <div class="cardstock-b"></div>
            <div class="m-menu-item" data-target="current">
                <div class="f-fr current active">
                    <a href="javascript:;">现金劵</a>
                </div>
            </div>
            <div class="m-menu-item" data-target="invest">
                <div class="invest">
                    <a href="javascript:;">加息劵</a>
                </div>
            </div>
        </div>
        <div class="cardstock-list f-cb">
            <ul>
                <li>
                    <div class="list-l">
                       <div class="list-j">现金劵</div>
                       <div class="list-b">1.5%</div>
                       <div class="list-t">1天后到期</div>
                    </div>
                    <div class="list-r">立即使用</div>
                </li>
                <li>
                    <div class="list-l">
                        <div class="list-j">现金劵</div>
                        <div class="list-b">1.5%</div>
                        <div class="list-t">2天后到期</div>
                    </div>
                    <div class="list-r">立即使用</div>
                </li>
                <li>
                    <div class="list-l">
                        <div class="list-j">现金劵</div>
                        <div class="list-b">1.5%</div>
                    </div>
                    <div class="list-r">立即使用</div>
                </li>
                <li>
                    <div class="list-l">
                        <div class="list-j">现金劵</div>
                        <div class="list-b">1.5%</div>
                    </div>
                    <div class="list-r">立即使用</div>
                </li>
                <li>
                    <div class="list-l">
                        <div class="list-j">现金劵</div>
                        <div class="list-b">1.5%</div>
                    </div>
                    <div class="list-r">立即使用</div>
                </li>
                <li>
                    <div class="list-l">
                        <div class="list-j">现金劵</div>
                        <div class="list-b">1.5%</div>
                    </div>
                    <div class="list-r">立即使用</div>
                </li>
                <li>
                    <div class="list-l">
                        <div class="list-j">现金劵</div>
                        <div class="list-b">1.5%</div>
                    </div>
                    <div class="list-r">立即使用</div>
                </li>
                <li>
                    <div class="list-l">
                        <div class="list-j">现金劵</div>
                        <div class="list-b">1.5%</div>
                    </div>
                    <div class="list-r">立即使用</div>
                </li>
                <li>
                    <div class="list-l">
                        <div class="list-j">现金劵</div>
                        <div class="list-b">1.5%</div>
                    </div>
                    <div class="list-r">立即使用</div>
                </li>
                <li>
                    <div class="list-l">
                        <div class="list-j">现金劵</div>
                        <div class="list-b">1.5%</div>
                    </div>
                    <div class="list-r">立即使用</div>
                </li>
            </ul>
        </div>
        <div class="cardstock-btn mb15">查看历史加息劵</div>
    </div>
    <%= require('html-loader!../../layout/footer.html')%>
</body>
</html>