<!doctype html>
<html lang="en">

<head>
    <title>房金网</title>
    <%= require('html-loader!../../layout/head.html')%>
</head>

<body>
    <!-- header -->
    <header id="header">
        <div id="m-header-nav" class="bg-338fff c-ffffff overflow-hide">
            <a id="F_back" class="goback arrow-left" href="javascript:;" data-href="his"></a>
            <h1>忘记密码 - 提交</h1>
        </div>
    </header>
    <!-- header end -->
    <div class="app-main app-header">
        <div class="forgetpwd">
            <!-- 手机号码 -->
            <div class="forget-item f-pwd">
                <div class="input-item">
                    <input type="password" name="" id="password" class="f-input" value="" placeholder="请设置您的的登录密码">
                    <i class="hide fa fa-eye"> </i>
                    <!-- fa-eye-slash 不让显示图标 -->
                </div>
                <span>登录密码</span>
            </div>
            <!-- 短信验证码 -->
            <div class="forget-item f-recheck">
                <div class="input-item">
                    <input type="password" name="" id="recheck" class="f-input" value="" placeholder="请确认您的登录密码">
                    <i class="hide fa fa-eye"> </i>
                    <!-- fa-eye-slash 不让显示图标 -->
                </div>
                <span>确认密码</span>

            </div>
            <a id="loginbtn" class="btn btn-normal mt50 disabled">
                <i class="fa fa-spinner fa-spin f-hide"></i>
                <span>提交</span>
            </a>
        </div>

    </div>
    <%= require('html-loader!../../layout/footer.html')%>
</body>

</html>