<!DOCTYPE html>
<html lang="en">
<head>
    <title>我的</title>
    <%= require('html-loader!../../layout/head.html')%>
</head>
<body>
    <div class="app-main bg-f7f7f7">
        <div class="text-center mine-container mb15 borers-b">我的</div>
        <div class="mine-r"><img width="60%" height="60%" src=<%= require("../../image/personal_asset.png")%>></div>
        <div class="mine-container" style="height: 7rem">
            <div class="mine-item">
                <div class="mine-img f-fl"><img width="100%" height="100%" src=<%= require("../../image/personal_pic.png")%>></div>
                <div class="mine-img-right f-fl">
                    <div class="mine-msg">未登录</div>
                    <div class="mine-icon">
                        <ul>
                            <li><img width="100%" height="100%" src=<%= require("../../image/mine_icon1.png")%>></li>
                            <li><img width="100%" height="100%" src=<%= require("../../image/mine_icon2_1.png")%>></li>
                            <li><img width="100%" height="100%" src=<%= require("../../image/mine_icon3.png")%>></li>
                        </ul>
                    </div>
                </div>
                <span></span>
            </div>
        </div>
    </div>
    <%= require('html-loader!../../layout/footer.html')%>
</body>
</html>