<!DOCTYPE html>
<html lang="en">
<head>
    <title>个人中心</title>
    <%= require('html-loader!../../layout/head.html')%>
</head>
<body>
    <!-- header -->
    <header id="header">
        <div class="spacer"></div>
        <div id="m-header-nav" class="bg-fff c-000000 overflow-hide">
            <h1>个人中心</h1>
        </div>
    </header>
    <!-- header end -->
  
    <div class="app-main bg-fff app-header">
        <div class="personal">
            <ul class="per-portrait">
                <li class="portrait-head">头像<div class="portrait"><img src=<%= require('../../image/personal_pic.png') %>></div> </li>
                <li><a href="javascript:;" data-href='./address.html' data-needlogin='true'>我的地址</a><b class="fa fa-angle-right"></b></li>
            </ul>
            <ul class="per-bill">
                <li>账户安全<span class="safe">账户安全等级：<i>低</i></span><b class="fa fa-angle-right"></b>
                </li>
                <li><a href="javascript:;" data-href='./bindcard.html' data-needlogin='true'>实名认证</a><span class="notOpen">未认证</span> <b class="fa fa-angle-right"></b>
                </li>
            </ul>
        </div>
        <div class="personal-button">安全退出</div>
    </div>
    <%= require('html-loader!../../layout/footer.html')%>
</body>
</html>