<!doctype html>
<html lang="zh-CN">
<head>
    <title>房金网</title>
    <%= require('html-loader!../../layout/head.html')%>
</head>
<body>
    <!-- header -->
    <header id="header">
        <div class="spacer"></div>
        <div id="m-header-nav" class="bg-338fff c-ffffff overflow-hide">
            <a id="F_back" class="goback arrow-left " href="javascript:;" data-href="his"></a>
            <h1>个人中心</h1>
        </div>
    </header>
    <!-- header end -->

    <div class="app-main app-header">
        <div class="comm-cells comm-cells-access">
            <div class="comm-cell">
                <div class="comm-cell-hd comm-cell-primary">头像</div>
                <img id="headImg" alt="头像" src=<%= require('../../image/personal_pic.png')%>>
            </div>
        </div>

        <div class="comm-cells comm-cells-access mt10">
            <a class="comm-cell" href="javascript:;" data-href="/my/address.html" data-title="我的地址">
                <div class="comm-cell-hd comm-cell-primary">我的地址</div><i class="fa fa-angle-right comm-cell-ft"></i>
            </a>
            <a class="comm-cell" href="javascript:;" data-href="/my/pwd-manager.html" data-title="密码管理">
                <div class="comm-cell-hd comm-cell-primary">密码管理</div><i class="fa fa-angle-right comm-cell-ft"></i>
            </a>
            <a class="comm-cell service" href="javascript:;" data-href='/my/bindcard.html' data-title="实名认证">
                <div class="comm-cell-hd comm-cell-primary">实名认证</div><i class="fa fa-angle-right comm-cell-ft"></i>
            </a>
        </div>
        <div class="logout">
            <a id="logout" class="btn">退出登录</a>
        </div>
    </div>
    <%= require('html-loader!../../layout/footer.html')%>
</body>
</html>
