<!DOCTYPE html>
<html lang="en">
<head>
    <title>房金网</title>
    <%= require('html-loader!../../layout/head.html')%>
</head>
<body>
    <%= require('html-loader!../../layout/loading.html')%>
    <div class="app-main bg-f7f7f7">
        <div class="recharge-b" data-href="his"></div>
        <div class="text-center recharge-top mb15">充值</div>
        <div class="recharge-container">
            <div class="recharge-bank">
                <div class="bank-num f-fl">
                    <i class="fa fa-bank fa-fw"></i>
                    银 行 卡
                </div>
                <div class="bank-bg f-fl">
                </div>
                <div class="bankNum">

                </div>
                <div class="bank-cah">
                    <div id="singlePrice">单笔:<span></span></div>
                    <div id="dayPrice">单日:<span></span></div>
                </div>
            </div>
            <div class="recharge-carch">
                <div class="recharge-money">
                    <div class="money-num f-fl">
                        <i class="fa fa-money fa-fw"></i>
                        充值金额
                    </div>
                    <input type="number" placeholder="请输入您要充值的金额" id="money-input">
                </div>
            </div>
        </div>
        <div class="recharge-btn mt50">确定</div>
    </div>
<%= require('html-loader!../../layout/footer.html')%>
</body>
</html>