<!-- https://m.nicaifu.com/ucenter/index_v3 -->
<!doctype html>
<html lang="zh-CN">

<head>
    <title>房金网</title>
    <%= require('html-loader!../../layout/head.html')%>
</head>

<body>
    <%= require('html-loader!../../layout/nav.html')%>
    <%= require('html-loader!../../layout/loading.html')%>
    <div class="app-main bg-f1f1f1">
        <div class="wallet-wrapper">
            <div class="wallet-top pt20">
                <div class="wallet-total ml20" id="totalAccount">总资产（元）<span></span></div>
                <div class="wallet-vote ml50" id="yesterdayIncome">昨日收益（元）<span></span></div>
                <div class="wallet-total ml20 wallet-normal" id="investProductPrice">在投金额（元）<span></span></div>
                <div class="wallet-vote ml50 wallet-normal" id="totalIncome">累计收益（元）<span></span></div>
            </div>
            
            <div class="wallet-cont">
                <div class="wallet-container mb15">
                    <div class="f-fl ml15  wallet-account-balance f16px" id="accountBalance">账户余额：<span></span>元</div>
                    <div class="f-fr mr15 wallet-account-recharge f16px"><a data-href="./recharge.html" data-needlogin="true">立即充值</a></div>
                </div>

                <div class="m-wallet bg-fff">
                    <div class="col-head bdr-bottom">我的理财</div>                 
                    <div class="financial-list bdr-bottom" data-url="https://m.nicaifu.com/user/huoqibao/current_summary">
                        <div class="financial-item">
                            <div class="f-fl">                           
                                <img class="left-item-icon" src="https://p4.nicaifu.com/cms/201708/ea540e2238fff48a34aa500db6bf3ea8.jpg">
                                <div class="left-item-title">我的投资</div>                        
                            </div>
                            <div class="f-fr">
                                <div class="right-item">
                                    <div class="title">活期</div>
                                    <div class="asset number-hide" data-value="--">--</div>
                                </div>
                                <div class="right-item">
                                    <div class="title">定期</div>
                                    <div class="asset">
                                        <div class="inner">
                                            <div class="profit  number-hide" data-value="--">--</div>
                                        </div>
                                    </div>                                  
                                </div>
                            </div>
                            <i class="fa fa-angle-right fa-fw f20px"></i>
                        </div>
                    </div>
                    <div class="financial-list bdr-bottom" data-url="https://m.nicaifu.com/user/dingqi/regular_summary">
                        <div class="financial-item">
                            <div class="f-fl">                           
                                <img class="left-item-icon" src="https://p4.nicaifu.com/cms/201708/1d38c298dbfdf47e27eef53dc284aa62.jpg">
                                <div class="left-item-title">我的卡券</div>                        
                            </div>
                            <div class="f-fr">
                                <div class="right-item">
                                    <div class="title">现金券</div>
                                    <div class="asset number-hide" data-value="--">--</div>
                                </div>
                                <div class="right-item">
                                    <div class="title">加息券</div>
                                    <div class="asset">
                                        <div class="inner">
                                            <div class="profit  number-hide" data-value="--">--</div>
                                        </div>
                                    </div>                                  
                                </div>
                            </div>
                            <i class="fa fa-angle-right fa-fw f20px"></i>
                        </div>
                    </div>
                    <div class="financial-list" data-url="https://m.nicaifu.com.cn/ucenter">
                        <div class="financial-item">
                            <div class="f-fl">                           
                                <img class="left-item-icon" src="https://p4.nicaifu.com/cms/201708/e5403ac512ca5dee1673ac98be0f8391.jpg">
                                <div class="left-item-title">我的账单</div>                        
                            </div>
                            <div class="f-fr">
                                <div class="right-item">
                                    <div class="title">本月充值</div>
                                    <div class="asset number-hide" data-value="--">--</div>
                                </div>
                                <div class="right-item">
                                    <div class="title">本月提现</div>
                                    <div class="asset">
                                        <div class="inner">
                                            <div class="profit  number-hide" data-value="--">--</div>
                                        </div>
                                    </div>                                  
                                </div>
                            </div>
                            <i class="fa fa-angle-right fa-fw f20px"></i>
                        </div>
                    </div>
                </div>
            </div>

            <div class="wallet-c">
                <div class="wallet-container mb15">
                    <div class="f-fl ml15  wallet-account-balance f16px" id="accountBalance">账户余额：<span></span>元</div>
                    <div class="f-fr mr15 wallet-account-recharge f16px"><a data-href="./recharge.html" data-needlogin="true">立即充值</a></div>
                </div>
                <!--我的理财-->
                <div class="wallet-container">
                    <div class="f-fl ml15" id="js-myInvest"><i class="fa fa-envelope-open fa-fw"></i>我的投资</div>
                    <div class="f-fr mr15"><i class="fa fa-chevron-circle-right"></i></div>
                </div>
                <div class="wallet-container2">
                    <div class="f-fl ml15" id="currentProductPrice">活期：<span></span>元</div>
                    <div class="f-fr mr15" id="regularProductPrice">定期：<span></span>元</div>
                </div>
                <div class="wallet-container">
                    <div class="f-fl ml15" data-href="./cardstock.html" data-needlogin="true"><i class="fa fa-id-card fa-fw"></i>我的卡劵</div>
                    <div class="f-fr mr15"><i class="fa fa-chevron-circle-right"></i></div>
                </div>
                <div class="wallet-container2">
                    <div class="f-fl ml15" id="coupon1">现金券：<span></span>张</div>
                    <div class="f-fr mr15" id="coupon2">加息券：<span></span>张</div>
                </div>
                <div class="wallet-container">
                    <div class="f-fl ml15 js-bills" data-href="./bills.html?id=0" data-needlogin="true"><i class="fa fa-address-book fa-fw"></i>我的账单</div>
                    <div class="f-fr mr15"><i class="fa fa-chevron-circle-right"></i></div>
                </div>
                <div class="wallet-container2">
                    <div class="f-fl ml15" id="billData1">本月充值：<span></span>元</div>
                    <div class="f-fr mr15" id="billData2">本月提现：<span></span>元</div>
                </div>
            </div>
        </div>
        <%= require('html-loader!../../layout/menu.html')%>
    </div>
    <%= require('html-loader!../../layout/footer.html')%>
</body>

</html>